/* Containerul principal pentru secțiunea About Us */

.about-us {
  position: absolute;
  width: 80%; /* Lățimea containerului */
  width: 65%; /* Lățimea containerului */
  left: 50%;
  transform: translate(-50%, 0%);
  height: 85vh; /* Înălțime completă */
  padding: 40px 20px;
  background-image: url('../assets/Untitled_Artwork-_1_.svg'); /* Calea către imaginea ta */
  background-size: cover;
  background-position: center;
  background-color: #1A1A40; /* Fundal */
  color: #FFFFFF;
  margin-top: 100px;
  line-height: 1.8;
  overflow-y: auto; /* Scroll activat */
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4); /* Umbra */
}

/* Header-ul paginii */
.about-header {
  text-align: left;
  font-size: 55px;
  margin-bottom: 50px;
}

.about-header h1 {
  font-size: 55px !important;
  margin-bottom: 10px;
  color: #5AA8D6;
}

.about-header p {
  font-size: 50px;
  color: #CBE3EF;
  text-align: left;
}

/* Secțiunile din pagină */
.about-section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0; /* Inițial invizibil */
  transform: translateY(20px); /* Poziționare mai jos pentru efect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-section.fade-in-scroll {
  opacity: 1; /* Devine vizibil */
  transform: translateY(0); /* Poziționare normală */
}

.about-section h2 {
  font-size: 35px;
  color: #FFFFFF;
  text-align: left;
}

.about-section h3 {
  font-size: 40px;
  color: #FFFFFF;
  text-align: left;
}

.about-section p {
  font-size: 30px;
  color: #CBE3EF;
  text-align: left;
}

/* Linkuri */
.about-section a {
  color: #5AA8D6;
  text-decoration: underline;
  font-size: 40px;
}

.about-section a:hover {
  color: #FFC107; /* Efect pe hover */
}


/* Scroll personalizat pentru container */
.about-us::-webkit-scrollbar {
  width: 10px;
}

.about-us::-webkit-scrollbar-thumb {
  background-color: #5AA8D6;
  border-radius: 5px;
}

.about-us::-webkit-scrollbar-track {
  background: #1A1A40;
}

/* Animatie pentru fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


