/* Stiluri generale pentru pagina About Us */
.help {
    padding: 60px 100px;
    background-color: #1A1A40; /* Fundal albastru închis */
    color: #FFFFFF;
    line-height: 1.6;
    overflow-y: auto; /* Activează scrollbar */
  }
  
  /* Header-ul paginii */
  .help-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .help-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #5AA8D6; /* Culoare albastră pentru titlu */
  }
  
  .help-header p {
    font-size: 1.2rem;
    color: #CBE3EF;
  }
  
  /* Secțiunile din pagina */
  .help-section {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .help-section h2 {
    font-size: 1.3rem;
    color: #FFFFFF; /* Culoare galbenă pentru subtitluri */
    text-align: center;
  }

  .help-section h3 {
    font-size: 1.2rem;
    color: #FFFFFF;
    text-align: center;
  }
  
  .help-section p {
    font-size: 1rem;
    color: #FFFFFF;

  }

 
  /* Secțiunea Contact */
  .help-section a {
    color: #5AA8D6;
    text-decoration: underline;
  }
  
  .help-section a:hover {
    color: #FFC107;
  }
  