.help {
  position: absolute;
  width: 65%; /* Lățimea containerului */
  left: 50%;
  transform: translate(-50%, 0%);
  height: 85vh; /* Înălțime relativă la ecran */
  padding: 40px 20px;/* Fundal pentru container */
  background-color: #1A1A40;
  color: #FFFFFF;
  margin-top: 100px;
  line-height: 1.8; /* Spațiere între linii */
  overflow-y: auto; /* Activează scroll-ul intern */
  border-radius: 12px; /* Colțuri rotunjite */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4); /* Umbra containerului */
}

/* Header-ul paginii */
.help-header {
  
  text-align: left;
  font-size: 55px;
  margin-bottom: 50px;
}

.help-header h1 {
  font-size: 55px !important; /* Titlu mai mare */
  margin-bottom: 10px;
  color: #5AA8D6;
}

.help-header p {
  font-size: 50px; /* Font mai mare pentru subtitlu */
  color: #CBE3EF;
  text-align: left;
}

/* Secțiunile din pagina */
.help-section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0; /* Elementele sunt inițial invizibile */
  transform: translateY(20px); /* Poziționare mai jos pentru efect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.help-section.fade-in-scroll {
  opacity: 1; /* Vizibilitate */
  transform: translateY(0); /* Poziționare inițială */
}

.help-section h2 {
  font-size: 35px;
  color: #FFFFFF; 
  text-align: left;
}

.help-section h3 {
  font-size: 40px;
  color: #FFFFFF;
  text-align: left;
}

.help-section p {
  font-size: 30px;
  color: #CBE3EF;
  text-align: left;
}

/* Secțiunea Contact */
.help-section a {
  color: #5AA8D6;
  text-decoration: underline;
  font-size: 40px;
}

.help-section a:hover {
  color: #FFC107;
}


/* Scroll personalizat pentru container */
.help::-webkit-scrollbar {
  width: 10px;
}

.help::-webkit-scrollbar-thumb {
  background-color: #5AA8D6; /* Albastru pentru scrollbar */
  border-radius: 5px;
}

.help::-webkit-scrollbar-track {
  background: #1A1A40;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
