/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jockey One", sans-serif;
}

body {
  overflow: hidden; /* Dezactivează scroll-ul */
  background-image: url('../assets/Untitled_Artwork-_1_.svg'); /* Calea către imaginea ta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.home-page {
  display: flex;
  max-height: 100%;
  max-height: 100%;
}

/* Bara de navigare */
.navbar {
  width: 100%;
  height: 80px;
  background-color: #110F34; /* fundal întunecat */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 35px;
  font-weight: normal;
}

.logo-image {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-top: 10px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 35px !important;
  align-items: center;
  flex: 1;
}

.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  padding: 5px 25px !important;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.nav-links a.active {
  background-color: #3C3C6A; /* Fundal pentru butonul selectat */
}

.nav-links a:hover {
  color: #CBE3EF;
  background-color: #263663; /* Fundal deschis la hover */
  color: #FFFFFF;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-name {
  font-size: 14px;
  color: #FFFFFF;
}

/* Meniu lateral */
.sidebar {
  width: 270px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  position: fixed;
  top: 100px;
  bottom: 10px;
  left: 50px;
  color: #FFFFFF;
  gap: 15px;
}

.sidebar button {
  width: 300px;
  height: 70px;
  font-size: 18px;
  background-color: #14123BD9; /* Fundal albastru-închis */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  color: #ffffff;
}

.sidebar button:hover {
  color: #FFFFFF;
  transform: translateY(-3px);
}

.sidebar .add-button {
  background-color: #14123B; /* Albastru închis */
  color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
  width: auto;
  margin-top: 10px;
  height: auto;
  text-align: center;
  border-radius: 50%; /* Formă rotundă */
  border: none;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Umbră *//* Centrare în bara laterală */
}

.sidebar .add-button:hover {
  background-color: #263663;
  color: #FFFFFF;
  transform: scale(1.1);    
}

.savings {
  background-color: #14123BD9; /* fundal albastru-închis pentru chenar */
  position: fixed;
  padding: 10px 20px;
  width: 140px;
  height: 85px;
  bottom: 25px;
  left: 25px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* umbră pentru chenar */
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.savings-label {
  font-size: 18px;
  color: #CBE3EF; /* nuanță mai deschisă de albastru pentru textul "Savings:" */
}

.savings-amount {
  font-size: 24px;
  color: #FFFFFF;
}
 
.expense-button {
  position: fixed; /* Face ca butonul să fie fix pe ecran */
  left: 920px; /* Ajustează poziția orizontală pentru aliniere */
  bottom: 25px;
  display: flex;
  align-items: center;
}

.expense-button button {
  padding: 10px, 20px;
  height: 85px;
  width: 140px;
  background-color: #14123BD9;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.expense-button:hover {
  background-color: #1a2d61; /* Culoare hover */
}


/* Conținut principal */
.main-contents {
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 110px 30px 30px 350px; /* alocă spațiu pentru sidebar */
}

.diagram-container {
  display: flex;
  justify-content: center; /* Centrare orizontală */
  align-items: flex-start; /* Aliniere sus */
  gap: 20px; /* Spațiu între diagramă și chenar */
  margin-top: -10px;
  margin-left: 40px;
  position: relative;
}

.pie-chart {
  position: relative;
  width: 600px;
  height: 600px;
}

.categories-card {
  background-color: #14123BE5; /* Fundal închis */
  padding: 15px;
  margin-top: 150px;
  margin-left: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-size: 18px;
  min-width: 300px; /* Lățime minimă */
}

.categories-card h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.category span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.category-select{
  color: white;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.expenses-card {
  background-color: #14123BE5; /* Fundal închis */
  padding: 15px;
  margin-top: 20px;
  margin-left: 100px; /* Alineat cu cardul de categorii */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-size: 18px;
  min-width: 300px; /* Lățime minimă */
  max-width: 400px !important; /* Smaller card width */
  max-height: 200px !important; /* Limit the height */
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 15px;
}

.filter-container {
  display: flex;
  align-items: right;
  gap: 10px;
}

.filter-container span {
  color: #FFFFFF;
  font-size: 16px;
}

.filter-dropdown {
  background-color: #3d3967;
  color: #FFFFFF;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  align-items: right;
  margin-left: 170px;
}

.filter-dropdown:hover {
  background-color: #3d3967;
}

.expenses-card h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.expenses-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: calc(4 * 30px); /* Show up to 4 items, assuming 40px per item */
  overflow-y: auto; /* Enable vertical scrolling if there are more than 4 items */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.expenses-card ul::-webkit-scrollbar {
  display: none;
}

.expenses-card li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.expenses-card button {
  background-color: #3BAEE1;
  color: #FFFFFF;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}

.expenses-card button:hover {
  background-color: #2A91C1;
}

/* Fundal semi-transparent pentru pop-up */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fundal transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Container pentru pop-up */
.popup-container {
  background-color: #191742; /* Fundal albastru închis */
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup-container-subscription{
  background-color: #191742;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;

}

.popup-container-add-sub{
  background-color: #191742;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.payment-frequency-btnactive{
  background-color: #1F1E70;
  display: flex;
  align-items: center; /* Centrare verticală a textului cu inputul */
  justify-content: center; /* Spațiere între label și input */
}

/* Titlul pop-up */
.popup-container h2 {
  margin-bottom: 25px;
}

/* Grup de formular */
.form-group {
  display: flex;
  align-items: left; /* Centrare verticală a textului cu inputul */
}

/* Etichete */
.form-group label {
  font-size: 18px !important;
  text-align: left; /* Textul etichetei aliniat la dreapta */
}

.form-actions button {
  width: 30%;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.form-actions button[type='submit'] {
  background-color: #1F1E70;
  color: #FFFFFF;
}

.form-actions button[type='button'] {
  background-color: #444;
  color: #FFFFFF;
}

.form-actions button:hover {
  opacity: 0.9;
}

.delete-sub-button {
  background: none; /* Elimină fundalul */
  border: none; /* Elimină chenarul */
  cursor: pointer; /* Arată cursorul de mână */
  font-size: 18px; /* Ajustează dimensiunea pictogramei */
  outline: none; /* Elimină chenarul pe focus */
}

.delete-sub-button:hover {
  background: none; /* Previne orice evidențiere de fundal */
  box-shadow: none; /* Elimină orice efect de hover */
  outline: none; /* Elimină orice contur */
  color: red;
}



.popup-container {
  background-color: #191742;
  padding: 30px 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  position: relative;
}

.popup-container h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 25px;
}

.popup-container p {
  color: #FFFFFF; /* Text gri */
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.5;
}

.popup-container-savings{
  background-color: #191742;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}


.popup-container input {
  width: 80%; /* Lățime redusă */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #aaaaaa; /* Chenar gri */
  font-size: 18px;
  border: none;
  background-color: #1F1E4C; /* Fundal pentru input */
  color: #ffffff; /* Text alb */
  text-align: center;
  margin-bottom: 30px;
}

/* Chenar pentru intervalul de buget */
.popup-container .budget-box {
  border: 1px solid #aaaaaa; /* Chenar gri */
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  color: #aaaaaa; /* Text gri */
  margin-bottom: 15px;
  border: none;
  background-color: #1F1E4C; /* Fundal pentru chenar */
  display: inline-block;
  width: 90%; /* Se adaptează lățimii ferestrei */
}


.submit-sub-button {
  margin-left: 5px;
  padding: 1px 16px;
  background-color: #1F1E70;
  color: #ffffff;
  border: none;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-sub-button:hover {
  background-color: #263663;
}

.close-sub-button {
  padding: 1px 16px;
  background-color: #222164;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.close-sub-button:hover {
  background-color: transparent;
}

.popup-actions {
  display: flex;
  justify-content: space-around;
}

/* Pentru warning popup */
.popup-container.warning p {
  margin-bottom: 20px; /* Mai mult spațiu între text și butoane */
}

.popup-overlay-holiday {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-container-holiday {
  background-color: #191742;
  padding: 30px 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  position: relative;
}

.form-group-holiday {
  margin-top: 15px;
  display: flex;
  justify-content: space-between; /* Spațiere egală între etichetă și input */
  align-items: center; /* Aliniere verticală la mijloc */
  margin-bottom: 10px; /* Spațiu între fiecare grup de input */
}

/* Etichete pentru câmpurile de input */
.form-group-holiday label {
  font-size: 18px;
  font-weight: normal;
  text-align: center; /* Aliniere la stânga pentru etichetă */
  flex: 1; /* Ocupă spațiu proporțional */
}

/* Câmpurile de input pentru Holiday Report */
.form-group-holiday input {
  font-size: 16px;
  width: 25%; /* Lățimea input-ului să fie mai mică decât eticheta */
  border: 1px solid #ccc;
  border-radius: 5px;
  border: none;
  background-color: #1F1E4C; /* Fundal pentru input */
  color: white; /* Text alb pentru input */
  text-align: center; /* Aliniere a textului în interiorul input-ului */
}

.recommended-sum-holiday {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrare a textului */
  margin-bottom: 15px; /* Spațiere față de următoarele elemente */
  padding: 10px 15px; /* Spațiere internă */
  border-radius: 5px;
  color: #CBE3EF; /* Text deschis */
  font-size: 20px;
  text-align: center; /* Centrare a textului */
}

.recommended-sum-holiday label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: #FFFFFF; /* Albastru deschis */
}

.recommended-value-holiday {
  display: inline-block;
  font-size: 20px; /* Dimensiune mai mare */
  font-weight: bold;
  color: #B7B7B7;
  background-color: #1F1E4C; /* Fundal ușor contrastant */
  border-radius: 5px;
  width: 30%; /* Ajustare automată */
  text-align: center; /* Text centrat */
}
.installments-popup {
  background-color: #191742;
  color: #fff;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.installments-popup h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.info-box {
  background-color: #1F1E4C;
  color: #BBC7D3;
  max-width: 290px;
  padding: 12px;
  margin-left: 35px;
  border-radius: 5px;
  margin-bottom: 25px;
  font-size: 1.1rem;
}

p {
  margin: 1rem 0;
}

.yearmonth-options{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr); /* Trei coloane */
  gap: 10px; /* Distanță între elemente */
  margin: 1rem 0;

}
/* Opțiuni de plată */
.installment-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trei coloane */
  gap: 10px; /* Distanță între elemente */
  margin: 1rem 0;
}
/* 
.installment-option,
.custom-option {
  background-color: #310073;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  transition: background-color 0.3s ease;
} */

.installment-option {
  color: #000000 !important;
  background-color: #4A4595 !important;
}

.installment-option:hover,
.installment-option.active {
  background-color: #5704c8;
}

.custom-option {
  width: 100% !important;
  margin-top: 0px !important;
  font-size: 15px !important;
  height: 50%;
}
/* .custom-option input {
  background-color: #1b0040;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  outline: none;
} */

.custom-option input:focus {
  border-color: #5704c8;
}

/* Recomandare și butonul de submit */
.recommended-sum {
  margin-bottom: 30px;
  color: #BBC7D3;
  background-color: #2B285F;
  padding: 10px;
  margin-left: 80px;
  max-width: 200px;
  align-items: center;
  font-size: 20px;
  border-radius: 8px;
}

.submit-button {
  background-color: #1F1E70;
  width: 30%;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 25px 30px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  display: flex;              /* Use flexbox */
  align-items: center;        /* Vertically center the text */
  justify-content: center;    /* Horizontally center the text */
  text-align: center; 
}

.submit-button:hover {
  background-color: #8b50ff;
}

::placeholder {
  color: #BBC7D3;
}

.category-select {
  max-width: 50%; /* Ensures full width inside the form */
  padding: 8px;
  background-color: #1e1d4b;
  font-size: 16px;
  max-height: 150px; /* Limit the height */
  overflow-y: auto; /* Adds scroll if content exceeds height */
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-left: 25px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.month-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trei coloane */
  gap: 10px; /* Distanță între elemente */
  margin: 1rem 0;
}
.select-months-display {
  color: #fff;
  margin: 20px 0;
  font-size: 24px;
}

.percentage-display {
  color: #fff;
  margin: 20px 0;
  font-size: 16px;
}

.month-option {
  color: #000000 !important;
  background-color: #4A4595 !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
}

.month-close {
  color: #000000 !important;
  background-color: #4A4595 !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 25px;
}


.subscription-list {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between each subscription item */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.parent-container{
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Container for the subscription list */
.subscription-list {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between each subscription item */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for each subscription item */
.subscription-item {
  display: flex;
  justify-content: space-between; /* Space between content and the delete button */
  align-items: center; /* Vertically align the text and the button */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}

/* Style for the subscription details (name, price, frequency) */
.subscription-item span {
  flex-grow: 1; /* This makes the text take available space */
  font-size: 16px;
  font-weight: 500;
}

/* Style for the description text (payment due day) */
.subscription-item p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

/* Style for the delete button */
.delete-sub-button {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Change button color on hover */
.delete-sub-button:hover {
  color: darkred;
}

/* Style for the button icon (Font Awesome) */
.delete-sub-button i {
  font-size: 20px;
}


/* Center text horizontally and vertically in the button */
.payment-frequency-btn,
.submit-sub-button {
  background-color: #4A4595; /* Green color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;              /* Use flexbox */
  align-items: center;        /* Vertically center the text */
  justify-content: center;    /* Horizontally center the text */
  text-align: center;         /* Ensure the text is centered */
}

.payment-frequency-btn.active,
.submit-sub-button:hover {
  background-color: #4a4595a1; /* Darker green on hover */
}

.payment-frequency-btn {
  margin: 0 5px;
}

.payment-frequency-btn.active {
  background-color: #4A4595; /* Active state color */
}

.submit-sub-button {
  width: 50%; /* Make the add subscription button take full width */
  margin-top: 15px;
 
}

.blinking-link {
  animation: blinker 1.5s linear infinite;
  background-color: yellow;
  border-radius: 5px;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}