/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jockey One", sans-serif;
}

.home-page {
  display: flex;
  min-height: 100vh;
  background-image: url('/public/fundal pc.png');
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}

/* Bara de navigare */
.navbar {
  width: 100%;
  height: 80px;
  background-color: #110F34; /* fundal întunecat */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 35px;
  font-weight: normal;
}

.logo-image {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin-top: 10px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  padding: 5px 18px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.nav-links a.active {
  background-color: #3C3C6A; /* Fundal pentru butonul selectat */
}

.nav-links a:hover {
  color: #CBE3EF;
  background-color: #263663; /* Fundal deschis la hover */
  color: #FFFFFF;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-name {
  font-size: 14px;
  color: #FFFFFF;
}

/* Meniu lateral */
.sidebar {
  width: 270px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  position: fixed;
  top: 100px;
  bottom: 10px;
  left: 40px;
  color: #FFFFFF;
  gap: 15px;
}

.sidebar button {
  width: 300px;
  height: 70px;
  font-size: 18px;
  background-color: #14123BD9; /* Fundal albastru-închis */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.sidebar button:hover {
  color: #FFFFFF;
  transform: translateY(-3px);
}

.sidebar .add-button {
  background-color: #14123B; /* Albastru închis */
  color: #FFFFFF;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 180px;
  width: auto;
  margin-top: 10px;
  height: auto;
  text-align: center;
  border-radius: 50%; /* Formă rotundă */
  border: none;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Umbră *//* Centrare în bara laterală */
}

.sidebar .add-button:hover {
  background-color: #263663;
  color: #FFFFFF;
  transform: scale(1.1);    
}

.savings {
  background-color: #14123BD9; /* fundal albastru-închis pentru chenar */
  padding: 10px 20px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* umbră pentru chenar */
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.savings-label {
  font-size: 18px;
  color: #CBE3EF; /* nuanță mai deschisă de albastru pentru textul "Savings:" */
}

.savings-amount {
  font-size: 24px;
  color: #FFFFFF;
}

/* Conținut principal */
.main-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 80px 20px 20px 250px; /* alocă spațiu pentru sidebar */
}

.diagram-container {
  display: flex;
  justify-content: center; /* Centrare orizontală */
  align-items: flex-start; /* Aliniere sus */
  gap: 20px; /* Spațiu între diagramă și chenar */
  margin-top: 10px;
  margin-left: 40px;
  position: relative;
}

.pie-chart {
  position: relative;
  width: 600px;
  height: 600px;
}

.categories-card {
  background-color: #14123BE5; /* Fundal închis */
  padding: 15px;
  margin-top: 200px;
  margin-left: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  font-size: 18px;
  min-width: 200px; /* Lățime minimă */
}

.categories-card h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.category span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.history-button {
  position: absolute;
  left: 400px; /* Ajustează poziția în funcție de sidebar */
  margin-top: 710px; /* Poziționare sub diagramă */
  align-items: center;
}

.history-button button {
  height: 60px;
  width: 170px;
  background-color: #14123B; /* Fundal similar cu sidebar */
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.history-button button:hover {
  background-color: #263663; /* Culoare hover */
}
