
body {
    background-image: url('../assets/Untitled_Artwork-_1_.svg'); /* Calea către imaginea ta */
  background-size: cover;
  background-position: center;
    color: white; /* Text color */
    font-family: sans-serif !important; /* Change font to Jockey One */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex; /* Split the container into two parts */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Full height of the viewport */
    position: relative; /* Allows absolute positioning for buttons */
}

.logo {
    flex: 1; /* Take half the space for the logo */
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center logo horizontally */
    align-items: center; /* Center logo vertically */
}

.text {
    flex: 1; /* Take half the space for the text */
    text-align: center; /* Center text in this container */
    display: flex; /* Activează flexbox */
    flex-direction: column; /* Direcția de organizare a elementelor */
    justify-content: center; /* Centrează vertical textul */
    height: 50%; /* Setează înălțimea secțiunii pentru a limita textul */
    margin: auto; /* Centrează secțiunea */
}

h1 {
    font-size: 50px !important; /* Reduced font size for the header */
    margin-bottom: 0; /* Remove bottom margin to eliminate gap */
    padding-right: 20px; /* Add space on the right to move it left */
    text-align: center; /* Center the header text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    line-height: 1.5;
}

p {
    font-size: 25px; /* Font size for paragraph */
    margin-top: 5px; /* Small margin above for separation from the header */
    margin-bottom: 40px; /* Margin below for spacing */
    text-align: center; /* Center text for the paragraph */
    margin-left: auto; /* Center paragraph */
    margin-right: auto; /* Center paragraph */
}


.home-button {
    position: absolute; /* Poziționare absolută */
    top: 20px; /* Distanța față de partea de sus */
    left: 20px; /* Distanța față de partea din stânga */
    border: none; /* Elimină conturul */
    padding: 10px 20px; /* Adaugă spațiu în interiorul butonului */
    border-radius: 5px; /* Colțuri rotunjite */
    cursor: pointer; /* Schimbă cursorul la pointer */
    font-size: 20px; /* Dimensiune font */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 50px;
    color: #ffffff;
}

.home-button:hover {
    background-color: transparent; /* Culoare mai deschisă la hover */
}
