.my-account-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/Untitled_Artwork-_1_.svg'); /* Calea către imaginea ta */
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.my-account-card {
  background-color:#1a1a44; /* Fundal semitransparent */
  padding: 40px;
  border-radius: 10px;
  width: 600px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7); /* Umbră mai accentuată */
  position: relative;
}

.back-button {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  top: 20px;
  width: 10%;
  left: 20px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.back-button:hover {
  background-color: #1f1e4c;
  border-radius: 5px;
}

.my-account-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.user-profile-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  justify-content: right;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.last-name input {
  margin-left: 5px;
}

.last-name label {
  margin-left: 5px !important;
}

.form-group label {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 65px;
}

.form-group input {
  width: 77%;
  padding: 10px;
  border-radius: 100px;
  border: none;
  background-color: #2a2d51;
  color: #B6B6B6;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-group input:read-only {
  background-color: #1f1e4c; /* Culoare diferită pentru câmpurile readonly */
  color: #B6B6B6;
  border: none;
}

.edit-button {
  background-color: #161542;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: left;
  justify-content: center;
  margin-right: 175px;
}

.edit {
  margin-right: 180px !important;
  margin-top: 0px !important;
  padding: 15px 20px !important;
  height: 40px !important;
}

.edit-button:hover {
  background-color: #100f2e;
}

.sign-out-button {
  background-color: #9F0003;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 65px;
}

.sign-out-button:hover {
  background-color: #500001;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
