/* Importă stilurile de login dacă e necesar */
@import './Login.css';

/* Containerul principal va ocupa toată fereastra */
.register-body {
  display: flex;
  justify-content: center; /* Centrare pe orizontală */
  align-items: center; /* Centrare pe verticală */
  height: 100vh; /* Înălțime completă a ferestrei */
  width: 100vw; /* Lățime completă a ferestrei */
  background-image: url('public/fundal pc.png'); /* Asigură-te că calea este corectă */
  background-size: cover; /* Acoperă întreaga fereastră */
  background-repeat: no-repeat; /* Nu repeta fundalul */
  background-position: center; /* Centrare a fundalului */
  margin: 0; /* Elimină marginile implicite */
}

.login-container {
  display: flex;
  flex-direction: column; /* Orientare pe coloană pentru formular */
  align-items: center; /* Centrare pe orizontală */
  justify-content: center; /* Centrare pe verticală */
  padding: 20px; /* Adaugă puțin padding pentru estetică */
  border-radius: 8px; /* Colțuri rotunjite */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbra pentru adâncire */
  background-color: #1F1E4C; /* Aceeași culoare ca în pagina de login */
  width: 300px; /* Lățimea formularului */
}

.login-form {
  display: flex;
  flex-direction: column; /* Orientare pe coloană pentru câmpuri */
  align-items: center; /* Centrare pe orizontală */
}
.sex-option {
  width: 100%; /* Aceeași lățime ca celelalte câmpuri */
}

.sex-option select {
  width: 100%; /* Lățime completă */
  padding: 3px; /* Spațiere interioară pentru confort */
  border: 1px solid #ccc; /* Bordură similară */
  border-radius: 5px; /* Colțuri rotunjite */
  font-size: 14px; /* Mărime text */
  margin: 10px 0; /* Spațiu între elemente */
  background-color: #1F1E4C; /* Aceeași culoare ca fundalul */
  color: rgb(153, 153, 153); /* Text alb pentru contrast */
  outline: none; /* Elimină conturul la focus */
  appearance: none; /* Elimină stilul implicit al browserului */
  text-align: center; /* Text centrat */
}


.sex-option select:focus {
  border-color: #6a5acd; /* Bordură evidențiată la focus */
  box-shadow: 0 0 5px rgba(106, 90, 205, 0.5); /* Efect de focus */
}



.logo {
  width: 100px; /* Ajustează dimensiunea logo-ului după necesitate */
  height: auto; /* Întreține proporțiile originale */
  border-radius: 15px; /* Colțuri rotunjite, dacă este necesar */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundal semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Apare peste toate celelalte elemente */
}

/* Mesajul de succes */
.success-message {
  background-color: #1F1E4C;
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
}

/* Restul stilurilor pentru input-uri și butoane vor rămâne aceleași */
