body {
    background-image: url('../assets/Untitled_Artwork-_1_.svg'); /* Calea către imaginea ta */
    background-size: cover;
    background-position: center;
    color: white;
    font-family: sans-serif !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    margin: auto;
}

h1 {
    font-size: 100px !important; /* Increased font size */
    margin-bottom: 0;
    padding-right: 50px;
    text-align: center; /* Center the text */
    white-space: nowrap; /* Prevent text from wrapping */
    line-height: 1.5;
    background: linear-gradient(90deg, #3325b3, #bcaef8);
    -webkit-background-clip: text; /* Use text clipping for webkit-based browsers */
    background-clip: text; /* Standard property for background clip */
    -webkit-text-fill-color: transparent; /* Makes text transparent to show background */
}

p {
    font-size: 22px; /* Increased font size */
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: auto;
}

.buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

button {
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    min-width: 110px;
    height: 35px;
}

.login-button {
    background-color: transparent;
    color: white;
    margin-top: 10px;
}

.signup-button {
    background-color: transparent;
    color: #ffffff;
}

button {
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
